.idea/
.vscode/
venv/
app/src/__pycache__/
app/resources/
app/output/
app/src/utils/__pycache__/
app/src/training/__pycache__/
app/src/pipeline/__pycache__/
public/
docs/build/
!app/resources/example_properties.yaml
!app/resources/kasteli_34_urls.txt
!app/resources/data/initial/kasteli/kasteli.json
