.idea/
.vscode/
venv/
lightning_logs/

__pycache__/
base/__pycache__/
data/__pycache__/
models/__pycache__/
resources/*.pkl
resources/properties.yaml
output/

# backup folder -- to be deleted
backup/resources/*.pickle
backup/*.pkl
backup/output/
backup/__pycache__/
backup/resources/properties.yaml
