torch
datasets
transformers
seqeval
pandas
numpy==1.22.0
genson
elasticsearch==7.16.3
elasticsearch-dsl==7.3.0
sshtunnel==0.3.1
nltk
hdbscan
umap-learn
bson
fastapi
fastapi_utils
uvicorn
pydantic
requests
filelock
langdetect
spacy
