pyyaml==5.3.1
pandas==1.1.5
numpy==1.19.5
torch==1.7.1
transformers==3.5.1
tensorboard==2.4.0
flair==0.7
ax-platform==0.1.19
sshtunnel==0.3.1
elasticsearch==7.10.1
elasticsearch-dsl==7.3.0
requests==2.25.1
nltk==3.5
gensim==3.8.3
sentence-transformers==0.4.1.2
umap-learn==0.5.0
hdbscan==0.8.26
matplotlib==3.3.3
scikit-learn==0.24.0